/Debug
/atlas
/.vs/pack_atlas/v15/.suo
/.vs/pack_atlas/v15/Browse.VC.db
/.vs/pack_atlas/v15/Browse.VC.opendb
/output
/Release
/input
/.vs/pack_atlas/v15/ipch/AutoPCH/22ba3dc9f83e3d48/GL.ipch
/.vs/pack_atlas/v15/ipch/AutoPCH/ec9b97331b5e5859/ATLAS_PACKER.ipch
/.vs/pack_atlas/v15/ipch/AutoPCH/f6e665c9fca74050/MAIN.ipch
